@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url(/public/font/Satoshi-Variable.ttf);
  }
  @font-face {
    font-family: "FiraSans";
    src: url(/public/font/FiraSans-Variable.ttf);
  }
  @font-face {
    font-family: "ClashDisplay";
    src: url(/public/font/ClashDisplay-Variable.ttf);
  }
}

@layer utilities {
  /* body::-webkit-scrollbar {
    @apply hidden;
  } */
  .carousel::-webkit-scrollbar {
    @apply hidden;
  }

  .eps::-webkit-scrollbar,  body::-webkit-scrollbar{
    @apply bg-third w-2;
  }

  .eps::-webkit-scrollbar-thumb,  body::-webkit-scrollbar-thumb{
    @apply bg-indigo-500/70 rounded-full;
  }

  *{
    scroll-behavior: smooth;
  }

}

@layer components {
  .col-to-row {
    @apply col md:row;
  }
  .row {
    @apply flex flex-row;
  }
  .col {
    @apply flex flex-col;
  }
  .col-start {
    @apply flex flex-col items-start;
  }
  .infinity-scroll {
    @apply grid grid-cols-2 justify-start items-start gap-5 gap-y-5 sm:grid-cols-4 md:grid-cols-5 py-8;
  }

  .genre {
    @apply w-max bg-third px-4 py-2 rounded-lg shadow-md hover:bg-indigo-600 transition-all duration-300 text-second font-semibold text-sm min-w-36 text-center max-w-max snap-end snap-always;
  }
  .carousel {
    @apply flex items-center overflow-x-auto snap-x snap-mandatory p-2 gap-3 scroll-p-4;
  }
  .navbar {
    @apply w-full flex items-center gap-6 py-4;
  }
  .header {
    @apply text-second font-clash font-semibold text-2xl;
  }
  .arrow-btn {
    @apply text-second font-semibold text-sm flex items-center gap-3 cursor-pointer rounded-full transition-all duration-300;
  }
  .carousel {
    @apply flex items-center overflow-auto snap-x snap-mandatory scroll-p-2 gap-5;
  }
  .input-search {
    @apply bg-third w-full outline-none rounded-2xl px-4 h-10 placeholder:font-medium border-second focus:placeholder:text-second/50 transition-all duration-300 text-second font-medium text-sm pl-10 appearance-none;
  }

  /* PAGE ANIME */
  .anime-bg {
    @apply bg-cover bg-center block md:hidden fixed h-2/3 pb-20 w-full left-0 top-0 right-0;
  }
  .anime-img {
    @apply w-1/2 object-cover md:w-1/5 rounded-lg shadow-md;
  }
  .star {
    @apply w-4 h-4;
  }
  .anime-rating {
    @apply bg-second rounded-full font-satoshi flex items-center gap-2 justify-center px-5 py-1 text-xs md:text-lg font-semibold text-third;
  }
  .anime-studio {
    @apply bg-third rounded-full text-center font-satoshi px-5 py-1 text-xs md:text-lg font-semibold text-second;
  }
  .anime-title {
    @apply text-xl md:text-5xl text-second font-semibold font-clash;
  }
  .anime-info {
    @apply text-xs md:text-xl font-semibold text-second/70;
  }
  .anime-icons {
    @apply w-5 h-5 md:w-6 md:h-6 opacity-70;
  }
  .anime-genre {
    @apply text-second/70 text-xs md:text-xl font-semibold w-2/3;
  }
  .bg-blured {
    @apply backdrop-blur-sm h-full w-full flex items-center justify-center;
  }
  .anime-container {
    @apply bg-main rounded-t-3xl md:py-10 md:rounded-t-none overflow-y-scroll h-1/2 gap-10 flex md:relative p-5 md:p-0 bottom-0 fixed right-0 left-0 flex-col;
  }

  .episode-frame {
    @apply rounded-md ring ring-third h-72 md:h-[450px] w-full;
  }
}
